#sidebar {
    width: 180px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1) !important;

    .list-group-item {
        background-color: unset;
    }
    &.active {
        margin-left: -250px;
    }

    .menu {
        top: 50%;
        transform: translateY(40%);
    }

    ul {
        li {
            border: unset;
            margin-bottom: 5px;
            a {
                margin-left: 10%;
                &.link_active {
                    color: #0c9b7e !important;
                }
            }

            &:hover {
                box-shadow: 1px 1px -10px rgba(0, 0, 0, 0.1);
                border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
                a {
                    color: #0c9b7e !important;
                }
            }
            &.link_active {
                border-bottom: 0.1px solid rgba(121, 221, 7, 0.89);
            }
        }
    }

    i {
        padding-right: 10px;
    }
}

